.leaflet-control-layers-toggle.leaflet-layerstree-named-toggle {
    margin: 2px 5px;
    width: auto;
    height: auto;
    background-image: none;
}

.leaflet-control-layers-list{
	font: 13px / 1.7 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.leaflet-layerstree-node {
}

.leaflet-layerstree-header input{
    margin-left: 1px;
}


.leaflet-layerstree-header {
}

.leaflet-layerstree-header-pointer {
    cursor: pointer;
}

.leaflet-layerstree-header label {
    display: inline-block;
    cursor: pointer;
}

.leaflet-layerstree-header-label {
}

.leaflet-layerstree-header-name {
	padding-left: 2px;
}

.leaflet-layerstree-header-space {
}

.leaflet-layerstree-children {
    padding-left: 20px;
}

.leaflet-layerstree-children-nopad {
    padding-left: 0px;
}

.leaflet-layerstree-closed {
}

.leaflet-layerstree-opened {
}

.leaflet-layerstree-hide {
    display: none;
}

.leaflet-layerstree-nevershow {
    display: none;
}

.leaflet-layerstree-expand-collapse {
    cursor: pointer;
}

.info.legend {
    top: 50%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    /* margin-top: 5px;
    margin-left: 1000px; */
    /* margin-top: 1px; /* Menambahkan margin atas */
} 

.kota-legend{
    transform: translateY(-90%);
}
.kepadatan-legend{
    transform: translateY(-32%);
    width: 295px;
}



